<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    La tarea de comparación ya ha terminado, puedes consultar el resultado desde tu acceso para partidos políticos
    de la Lista Viernes.
</p>
