<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    Con tu email verificado, ya está todo listo para que puedas comparar tus bases de datos de
    emails y teléfonos con los de la Lista Viernes y así evitar mandar publicidad a quien no la desea.
</p>
<p>
    Esta es tu contraseña:<br>
    <strong>{{ password }}</strong><br>
    ¡No la pierdas!
</p>
<p>
    Puedes comenzar haciendo login desde <a href="{{ absolute_url(path('party_login')) }}">aquí</a>.
</p>