<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    Contraseña cambiada. En la Lista Viernes hemos actualizado tu contraseña para que todo esté como tu quieres.
</p>

<p>
    Si necesitas volver a cambiar la contraseña recuerda que puedes volver a hacerlo desde tu zona para partidos
    políticos en <a href="{{ absolute_url(path('party_index')) }}">Lista Viernes</a>.
</p>