<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    ¡Hola! Tu nueva contraseña es: <code>{{ newPassword }}</code>.
    Ya puedes entrar en la <a href="{{ absolute_url(path('app_login')) }}">Lista Viernes</a>
</p>