<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    Con tu email verificado, ya está todo listo para que desde la Lista Viernes podamos asegurarnos de que los partidos
    políticos respetan tus datos.
</p>

<p>
    Además, si quieres ir un paso más allá, recuerda que puedes colaborar con nosotros
    mediante una donación en <a href="https://www.goteo.org/project/lista-viernes">goteo.org</a>.
</p>