<img src="{{ absolute_url(asset('img/lista-viernes-logotipo@2x.png')) }}" height="40">
<p>
    Hola,
</p>
<p>
    Has sido dado de alta como usuario administrador de la Lista Viernes con esta contraseña:<br>
    <strong>{{ password }}</strong><br>
    ¡No la pierdas!
</p>
<p>
    Puedes acceder desde esta dirección <a href="{{ absolute_url(path('admin_login')) }}">{{ absolute_url(path('admin_login')) }}</a>.
</p>